.ariaTextField:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  align-items: flex-end;
  justify-content: flex-start;
  min-width: 0;
  row-gap: var(--token-GHA07qEaLSsk);
}
.ariaTextField[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.label:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.freeBox__rk5Hf {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__u5Uhe {
  flex-direction: row;
  position: absolute;
  height: var(--token-QHaCNxWW9vk9);
  align-items: center;
  justify-content: center;
  z-index: 9;
  left: 0px;
  top: 0px;
  flex-shrink: 0;
  display: none;
  padding: var(--token-1FcYDRUotoNX) var(--token-SLzGOwx3V5oO);
}
.freeBoxiconStart__u5UhergGzx {
  display: flex;
}
.slotTargetStart {
  color: var(--token-AWMPkV7S0qxd);
}
.svg__ndQc5 {
  position: relative;
  height: 1em;
}
.textInput:global(.__wab_instance):global(.__wab_instance) {
  height: 48px;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
.textAreaInputmultiLine:global(.__wab_instance):global(.__wab_instance) {
  display: block;
}
.freeBox__rlojG {
  height: var(--token-QHaCNxWW9vk9);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 0px;
  right: 0px;
  flex-shrink: 0;
  display: none;
  padding: var(--token-1FcYDRUotoNX) var(--token-SLzGOwx3V5oO);
}
.freeBoxiconEnd__rlojGwkEav {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-AWMPkV7S0qxd);
}
.svg__phuXt {
  position: relative;
  height: 1em;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
