.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 10px;
}
.freeBox__ms7JL {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.button__zn0P0:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg___03SR {
  position: relative;
  height: 1em;
}
.text__jYbid {
  white-space: pre;
  font-weight: 700;
}
.svg__zIe9P {
  position: relative;
  height: 1em;
}
.text__r17FE {
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 800;
  font-size: 16px;
}
.timer:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__g8P1K {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 13px;
  min-width: 0;
}
.freeBox__ashll {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.textField:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text__q9Rb {
  font-size: 13px;
}
.svg__cud04 {
  position: relative;
  height: 1em;
}
.svg__pGvyi {
  position: relative;
  height: 1em;
}
.text__wLdZy {
  position: absolute;
  width: 30px;
  height: auto;
  max-width: 100%;
  left: 10px;
  top: auto;
  text-align: center;
  bottom: 12px;
  color: #737373;
  font-size: 14px;
  flex-shrink: 0;
}
.text__bo2O8 {
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  color: #737373;
  text-align: center;
  left: 10px;
  top: auto;
  bottom: 12px;
  text-decoration-line: underline;
  cursor: pointer;
}
.button__fxqoL:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
.svg__bgFth {
  position: relative;
  height: 1em;
}
.text__r5DrS {
  white-space: pre;
  font-weight: 700;
}
.svg__bI86 {
  position: relative;
  height: 1em;
}
