.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: flex-end;
  background: #3f3f79;
  min-width: 0;
  min-height: 0;
  padding: 40px;
}
.rootcolor_red {
  background: var(--token-sYGL9IcLcdvT);
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 126px;
  height: 44px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.imghideLogo {
  opacity: 0;
}
.freeBox {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.text__sjuh {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-weight: 700;
  min-width: 0;
}
.text__sC8VK {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-weight: 400;
  font-size: 12px;
  opacity: 0.7;
  min-width: 0;
}
