.root {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  padding-right: 0px;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 20px;
}
.freeBox___7X5C4 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 1px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-I5iS1d223XPb);
  min-width: 0;
}
.text {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__n9O8H {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 1px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-I5iS1d223XPb);
  min-width: 0;
}
